h1 {
	font-family: Sans-serif;
	text-align:center;
	letter-spacing:2px;
	padding-top:20px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	margin:10px;
	padding:10px;
}

#myImg:hover {opacity: 0.7;}
#joke {
	margin:10px;
	padding:10px;
	margin-left:150px;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}