/**slide show**/
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
}

/* Next & previous buttons */
.prev, .next {
   background: black;
  cursor: pointer;
  position: absolute;
  top: 72%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: black;
  background-color: rgba(255,255,255,0.9);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}